#xs-component {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
}
#xs-component #h1c {
  display: none !important;
}
#xs-component *, #xs-component *::before, #xs-component *::after {
  box-sizing: border-box;
}
#xs-component h1, #xs-component h2, #xs-component h3, #xs-component h4, #xs-component p, #xs-component ul, #xs-component ol, #xs-component li, #xs-component figure {
  margin: 0;
  padding: 0;
}
#xs-component input, #xs-component button, #xs-component textarea, #xs-component select {
  font: inherit;
}
#xs-component .hidden {
  display: none !important;
}
#xs-component img {
  display: block;
  height: auto;
  max-width: 100%;
  aspect-ratio: attr(width), attr(height);
}

#articlePage.blank p {
  margin-top: 0;
}

#layout_switch {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;
}
#layout_switch button {
  display: block;
  color: #fff;
  background: red;
  font-size: 10px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-bottom: 5px;
  box-shadow: 0px 4px 10px 0px rgba(68, 3, 3, 0.3333333333);
  cursor: pointer;
  border: none;
}

#testLayout.layout-1 #articlePage #xs-component {
  max-width: 1310px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: #FFFFFF;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
}

#testLayout.layout-1 #articlePage #xs-component {
  width: 1310px;
}

#testLayout.layout-0 #articlePage #xs-component {
  width: 1035px;
}

.mobile #articlePage #xs-component,
.lp-container {
  max-width: 100%;
}

@-webkit-keyframes markerAnimation {
  0% {
    width: 16px;
    height: 16px;
    opacity: 1;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

@keyframes markerAnimation {
  0% {
    width: 16px;
    height: 16px;
    opacity: 1;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
#xs-component {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
#xs-component .xs__background {
  width: 100%;
}
#xs-component .xs__background__wrapper {
  position: relative;
}
#xs-component .xs__markers, #xs-component .xs__infoboxes {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#xs-component .xs__card {
  position: absolute;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  display: none;
  z-index: 4;
}
#xs-component .xs__card.active {
  display: flex;
}
#xs-component .xs__product-image__wrapper {
  height: 64px;
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#xs-component .xs__product-image {
  max-height: 100%;
  max-width: 100%;
}
#xs-component .xs__product-title {
  text-align: center;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 700;
  color: #212121;
  text-decoration: none;
  max-width: 140px;
  transition: color 300ms ease-in-out;
}
#xs-component .xs__product-title:hover {
  color: #0094E7;
}
#xs-component .xs__product-price {
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}
#xs-component .xs__product-price--base {
  color: #E9242E;
}
#xs-component .xs__product-price--discount {
  position: relative;
  color: #212121;
}
#xs-component .xs__product-price--discount::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  height: 1px;
  background: #414042;
  transform: translate(-50%, -50%) rotateZ(-12deg);
}
#xs-component .xs__button {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 6px 12px;
  cursor: pointer;
  transition: box-shadow 300ms ease-in-out;
}
#xs-component .xs__button__label {
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#xs-component .xs__button .icon {
  width: 24px;
  height: 24px;
  fill: #212121;
}
#xs-component .xs__button:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}
#xs-component .xs__marker {
  position: absolute;
  cursor: pointer;
  z-index: 3;
}
#xs-component .xs__marker--ring {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#xs-component .xs__marker--inner {
  background-color: #ffffff;
  border: solid 1px #0094E7;
  width: 16px;
  height: 16px;
}
#xs-component .xs__marker--mid {
  background-color: #0094E7;
  -webkit-animation: markerAnimation 2s ease-out infinite;
          animation: markerAnimation 2s ease-out infinite;
}
#xs-component .xs__marker--outer {
  background-color: #0094E7;
  -webkit-animation: markerAnimation 2s ease-out 1s infinite;
          animation: markerAnimation 2s ease-out 1s infinite;
}

@media only screen and (max-width: 1035px) {
  .mobile #xs-component .xs__product-image__wrapper, .mobileapp #xs-component .xs__product-image__wrapper {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .mobile #xs-component .xs__infoboxes, .mobileapp #xs-component .xs__infoboxes {
    position: static;
    bottom: unset;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px;
  }
  .mobile #xs-component .xs__product-image__wrapper, .mobileapp #xs-component .xs__product-image__wrapper {
    display: flex;
  }
  .mobile #xs-component .xs__card, .mobileapp #xs-component .xs__card {
    position: static;
    justify-content: space-between;
    display: flex;
  }
  .mobile #xs-component .xs__card.active, .mobileapp #xs-component .xs__card.active {
    outline: solid 2px #0094E7;
  }
}
@media only screen and (max-width: 660px) {
  .mobile #xs-component .xs__infoboxes, .mobileapp #xs-component .xs__infoboxes {
    flex-direction: column;
    gap: 12px;
    margin: 12px;
  }
  .mobile #xs-component .xs__card, .mobileapp #xs-component .xs__card {
    flex-direction: row;
    padding: 12px;
  }
  .mobile #xs-component .xs__product-price, .mobileapp #xs-component .xs__product-price {
    flex-wrap: wrap;
    width: 20%;
    justify-content: center;
  }
}
@media only screen and (max-width: 550px) {
  .mobile #xs-component .xs__card, .mobileapp #xs-component .xs__card {
    justify-content: space-between;
  }
  .mobile #xs-component .xs__product-image__wrapper, .mobileapp #xs-component .xs__product-image__wrapper {
    display: none;
  }
  .mobile #xs-component .xs__product-title, .mobileapp #xs-component .xs__product-title {
    text-align: left;
    max-width: 100px;
  }
  .mobile #xs-component .xs__button__text, .mobileapp #xs-component .xs__button__text {
    display: none;
  }
  .mobile #xs-component .xs__marker, .mobileapp #xs-component .xs__marker {
    transform: scale(0.75);
  }
}